services:
  app:
    build:
      context: ./Backend
      dockerfile: Dockerfile
    container_name: soc-ai-aget
    ports:
      - "80:80"
    volumes:
      - ./Backend:/app
    env_file:
      - ./Backend/.env
    environment:
      DB_HOST: soc-ai-db
      DB_PORT: "3306"
      DB_USER: docker
      DB_PASS: soc-ai
      DB_NAME: soc-ai
    depends_on:
      - db

  db:
    image: mysql:latest
    container_name: soc-ai-db
    ports:
      - "3306:3306"
    environment:
      MYSQL_ROOT_PASSWORD: docker
      MYSQL_DATABASE: soc-ai
      MYSQL_USER: docker
      MYSQL_PASSWORD: soc-ai
    volumes:
      - ./database:/var/lib/mysql
