/* CorrelationDiagram.module.css */
.container {
    width: 100%;
    height: 90vh; /* 画面全体 */
    position: relative;
}

.card {
    width: 100%;
    height: 100%;
    padding: 2px; /* 必要に応じて調整 */
}

.canvas {
    width: 100%;
    height: 100%;
}
